$white_color: #fff;
$black_color: #000;
$green_color: #3DD0A4;
$green2_color: #60e6c5;
$darkblue_c: #062033;
$gray_color: #c2c2c2;
$gray2_color:#F8F8F8;
$brown_color: #282528;
$yellow_color: #fefce9;
$features_bg: #efefef;